.modifyRequestsButton {
  position: absolute;
  right: 10px;
}
.modifycard {
  margin: 7px auto 10px auto;
}
.statusChip {
  position: absolute;
  right: 20px;
  bottom: 10px;
}
.card {
  position: relative;
}
.modifiedData {
  display: flex;
  flex-direction: row;
}
.arbuttons {
  display: flex;
  flex-direction: row;
}
.acceptbutton {
  position: absolute;
  right: 8px;
}
